# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
*.egg-info/
dist/
build/

# Angular
node_modules/
dist/
.angular/
*.log

# Environment
# .env


# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Docker and Deployment
*.log
project.tar.gz
deploy.bat
nginx/
certbot/

# Database
database/
*.db
*.sqlite
postgres_data/
redis_data/

# Old project
old_project/

